DATABASE_URL=postgres://localhost:5432/word_picker
USE_HTTPS=false
ADDRESS=localhost:4444
OIDC_CLIENT_ID=word-picker-client-id
OIDC_CLIENT_SECRET=
OIDC_DISCOVERY_URL=https://auth.keycloak.nl/realms/realm/.well-known/openid-configuration
SECURE_KEY=very-secure-key